.landing-page {
	/* background-color: salmon; */
	position: relative;
}

.landing-page iframe {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.landing-page header {
	background-color: var(--card-color);
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}

.landing-page header .logo {
	transition: 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.landing-page header .logo:hover {
	opacity: 0.6;
	transition: 0.2s;
}

.landing-page header .logo img {
	width: 50px;
}

.landing-page header .logo span {
	display: inline-block;
	margin-left: 5px;
	background-color: var(--warning);
	padding: 5px;
	border-radius: var(--card-br);
	font-size: 0.8em;
	color: var(--primary);
}

.landing-page header ul {
	list-style: none;
	display: flex;
	margin: 0;
	margin-right: 2%;
}

.landing-page header ul li {
	list-style: none;
	display: flex;
	margin: 0;
	margin-left: 20px;
}

.landing-page header ul li a {
	text-decoration: none;
	color: var(--primary);
	transition: 0.2s;
	font-size: 0.9em;
}

.landing-page header ul li a:hover {
	text-decoration: underline;
	color: var(--left-sidebar-font-color);
	transition: 0.2s;
}

.landing-page .contact-info {
	width: 300px;
	margin: 0 auto;
	text-align: center;
	font-size: 0.8em;
}

.landing-page .contact-info p {
	margin: 0;
}

.landing-page .contact-info a {
	color: var(--primary);
	text-decoration: none;
}

.landing-page .contact-info a:hover {
	text-decoration: underline;
	color: var(--left-sidebar-font-color);
}

.landing-page .showcase {
	text-align: center;
	margin-top: 8%;
	padding: 0 15px;
}

.landing-page .showcase h1 {
	margin: 0;
	font-size: 2.9em;
}

.landing-page .showcase p {
	margin: 0;
	margin-top: 15px;
	color: var(--left-sidebar-font-color);
}

.landing-page .showcase button {
	border-radius: var(--card-br);
	padding: 8px 16px;
	background-color: var(--primary);
	color: var(--card-color);
	transition: 0.2s;
	border: none;
	margin-top: 15px;
}

.landing-page .showcase button:hover {
	cursor: pointer;
	background-color: var(--card-color);
	color: var(--primary);
	transition: 0.2s;
	border: 1px solid var(--card-border-color);
	border-bottom: 3px solid var(--warning);
}

.landing-page .use-cases {
	margin: 10% auto;
	width: 75%;
}

.landing-page .use-cases h3 {
	/* color: var(--primary); */
}

.landing-page .use-cases span {
	display: inline-block;
	background-color: var(--warning);
	border-radius: 30px;
	width: 300px;
	height: 3px;
	opacity: 0.6;
}

.landing-page .use-cases p {
	font-weight: 400;
	color: var(--primary);
}

.landing-page .use-cases .use-cases-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.landing-page footer {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	/* background-color: var(--border-color-light); */
	padding: 20px;
}

.landing-page footer img {
	width: 60px;
	margin-right: 15px;
}

.landing-page footer a {
	color: var(--primary);
	font-size: 0.8em;
	text-decoration: none;
}

.landing-page footer a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 700px) {
	.landing-page .use-cases {
		padding-bottom: 30px;
	}
	.landing-page .use-cases .use-cases-grid {
		grid-template-columns: 1fr;
	}
}
