.add-audio-message-modal-bg {
	background-color: var(--card-color);
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.8;
}

.add-audio-message-modal {
	background-color: var(--card-color);
	width: 60%;
	height: 60%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	border-radius: var(--card-br);
	border: 1px solid var(--border-color-light);
	box-shadow: 0 0 20px var(--card-border-color);
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
}

.add-audio-message-modal-inner {
	position: relative;
	width: 100%;
	height: 100%;
	padding-bottom: 0;
}

.add-audio-message-modal header .text {
	margin-top: 30px;
}

.add-audio-message-modal .add-audio-message-modal-inner header .title {
	text-align: left;
	margin: 0;
	font-weight: 900;
	font-size: 20px;
	line-height: 25px;
}

.add-audio-message-modal .add-audio-message-modal-inner header .title span {
	font-size: 20px;
	font-weight: 300;
}

.add-audio-message-modal .preview-container .blank-preview {
	margin: 0;
	margin-bottom: 40px;
}

.add-audio-message-modal .preview-container {
	margin-bottom: 30px;
}

.add-audio-message-modal .preview {
	text-align: center;
}

.add-audio-message-modal .preview p {
	margin: 0;
}

.add-audio-message-modal .audio-area button {
	background-color: var(--card-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--card-border-color);
	transition: 0.2s;
	margin: 0 auto;
	margin-top: 10px;
}

.add-audio-message-modal .audio-area button:hover {
	cursor: pointer;
	background-color: var(--left-sidebar-font-color);
	transition: 0.2s;
}

.add-audio-message-modal .audio-area button img {
	width: 45px;
	height: 50px;
}

.add-audio-message-modal header .close-button {
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
	border-radius: 50%;
	border: none;
	transition: 0.2s;
	width: 20px;
	height: 20px;
	font-size: 1.1em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.add-audio-message-modal header .close-button p {
	margin: 0;
}

.add-audio-message-modal header .close-button:hover img {
	cursor: pointer;
	opacity: 0.8;
	transition: 0.2s;
}

.add-audio-message-modal header .close-button p img{
	width: 15px;
}

.add-audio-message-modal header .title {
	display: inline-block;
	text-align: left;
	margin: 0;
	font-weight: 900;
	font-size: 20px;
}

.add-audio-message-modal header small {
	color: var(--left-sidebar-font-color);
}

.add-audio-message-modal .audios {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
}

.add-audio-message-modal .audio-area {
	text-align: center;
}

.add-audio-message-modal .audio-area p {
	font-weight: 700;
	font-size: 0.9em;
	margin: 0;
}

.add-audio-message-modal .audio-area small {
	font-size: 0.6em;
	margin: 0;
	display: block;
	margin-top: 10px;
	color: var(--left-sidebar-font-color);
}

.add-audio-message-modal #last-audio-message-area {
	border: 1px solid var(--card-border-color);
	padding: 10px;
	border-radius: var(--card-br);
}

.add-audio-message-modal .audio-message-flash-message {
	text-align: center;
	font-size: 0.8em;
	margin: 0 auto;
	margin-top: 10px;
	opacity: 0.8;
}

.add-audio-message-modal .audio-message-flash-message p {
	margin: 0;
	display: inline-block;
	background-color: var(--success);
	padding: 4px 8px;
	border-radius: var(--card-br);
}

.add-audio-message-modal .start-record {
	background-color: var(--primary);
	color: var(--card-color);
	border: 1px solid var(--left-sidebar-font-color);
	padding: 8px 16px;
	transition: 0.2s;
	border-radius: var(--card-br);
}

.add-audio-message-modal .start-record:hover {
	background-color: var(--card-color);
	color: var(--primary);
	box-shadow: 0 0 20px var(--card-border-color);
	transition: 0.2s;
	cursor: pointer;
}

.add-audio-message-modal .toolbar {
	display: flex;
	align-items: center;
}

.add-audio-message-modal .toolbar .timer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
}

.add-audio-message-modal .red-recording {
	border-radius: 50%;
	background-color: var(--danger);
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 10px;
	animation: recording 2s infinite;
}

.add-audio-message-modal .add-audio-message-to-module-button {
	transition: 0.2s;
	padding: 8px 16px;
	border-radius: var(--card-br);
	background-color: var(--card-color);
	color: var(--primary);
	border: 1px solid var(--primary);
	margin-left: 10px;
}

.add-audio-message-modal .add-audio-message-to-module-button:hover {
	transition: 0.2s;
	cursor: pointer;
	background-color: var(--primary);
	color: var(--card-color);
	border: 1px solid var(--left-sidebar-font-color);
	box-shadow: 0 0 20px var(--card-border-color);
}

.add-audio-message-modal .add-audio-message-to-module-button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

@media only screen and (max-width: 800px) {

	.add-audio-message-modal .audios {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center; /* Centers within each 1fr */
		align-items: center;
		margin: 10px 0;
	}
}
