.external-doc-thumbnail {
	border-radius: var(--card-br);
	color: var(--card-color);
	padding: 15px;
	width: 100px;
	height: 100px;
	overflow-x: auto;
	background: rgb(203,164,22);
	background: linear-gradient(180deg, rgba(203,164,22,1) 0%, rgba(230,125,5,1) 100%);
	margin-right: 10px;
	position: relative;
}

.external-doc-thumbnail:hover {
	cursor: pointer;
	background: #e67d05;
}

.external-doc-thumbnail:hover .delete-icon {
	opacity: 0.7;
	transition: 0.5s;
}

.external-doc-thumbnail p {
	margin: 0;
}

.external-doc-thumbnail button {
	position: absolute;
	bottom: 10px;
	left: 10px;
	border: none;
	background: transparent;
	transition: 0.2s;
}

.external-doc-thumbnail button:hover {
	cursor: pointer;
	transition: 0.2s;
}

.external-doc-thumbnail button:hover .delete-icon {
	opacity: 0.9;
	transition: 0.2s;
}

.external-doc-thumbnail button:hover span {
	background-color: var(--orange-small-hover);
	transition: 0.2s;
}

.external-doc-thumbnail .delete-icon {
	opacity: 0;
	width: 20px;
}

.external-doc-thumbnail button span {
	color: #ffffff;
	background-color: var(--orange-small);
	padding: 2px 5px;
	font-size: 0.9em;
	border-radius: var(--card-br);
}
