.module-viewer {
	position: relative;
	background-color: var(--card-color);
	width: 70vw;
	height: 100vh;
	margin: 0 auto;
	padding: 0 20px;
}

.module-viewer p {
	margin: 0;
}

.module-viewer header {
	padding: 20px 0;
}

.module-viewer header .module-title {
	margin: 0;
	font-size: 2.3em;
}

.module-viewer header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.module-viewer header .author-information {
	text-align: center;
}

.module-viewer header .author-information p {
	display: block;
	font-size: 0.5em;
	margin: 0;
}

.module-viewer header .author-information span {
	color: var(--left-sidebar-font-color);
}

.module-viewer header .author-information img {
	border-radius: 50%;
	width: 60px;
	margin-top: 5px;
}

.module-viewer .messages {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 20px;
	right: -95px;
}

.module-viewer .video-message-player-container {
	/* position: absolute;
	bottom: 20px;
	right: -90px; */
	margin-bottom: 20px;
}

.module-viewer .video-message-player {
	position: relative;
}

.module-viewer .video-message-container {
	width: 190px;
	height: 180px;
	overflow: hidden;
	background: transparent;
	border-radius: 50%;
	object-fit: cover;
}

.module-viewer .video-message {
	width: 320px;
	height: 180px;
	margin-left: -70px;
	border-radius: 50%;
}

.module-viewer .video-message-play-pause {
	position: absolute;
	bottom: 0;
	left: 20px;
	background-color: var(--card-color);
	color: var(--primary);
	border: 2px solid var(--card-border-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
	padding: 2px;
}

.module-viewer .video-message-play-pause:hover {
	cursor: pointer;
	background-color: var(--left-sidebar-font-color);
	transition: 0.2s;
}

.module-viewer .video-message-play-pause .play-pause-img {
	width: 25px;
	height: 25px;
}

.module-viewer footer {
	position: absolute;
	bottom: 10px;
	font-size: 0.8em;
}

.module-viewer footer:hover img {
	opacity: 0.5;
}

.module-viewer .audio-message-player-container {
	/* position: absolute; */
	bottom: 10px;
	margin-bottom: 20px;
}

.module-viewer .audio-message-play-pause {
	background-color: var(--card-color);
	color: var(--primary);
	border: 2px solid var(--card-border-color);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
	padding: 6px;
	margin: 0 auto;
	border-radius: var(--card-br);
}

.module-viewer .audio-message-play-pause:hover {
	cursor: pointer;
	background-color: var(--left-sidebar-font-color);
	transition: 0.2s;
}

.module-viewer .audio-message-play-pause .play-pause-img {
	width: 25px;
	height: 25px;
}
