/* background:rgba(112,81,246,0); */

.add-video-message-modal-bg {
	background-color: var(--card-color);
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.8;
}

.add-video-message-modal {
	background-color: var(--card-color);
	/* width: 80%;
	height: 80%; */
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	border-radius: var(--card-br);
	border: 1px solid var(--border-color-light);
	box-shadow: 0 0 20px var(--card-border-color);
	padding: 0 30px 0 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
}

.add-video-message-modal-inner {
	position: relative;
	width: 100%;
	max-height: 100%;
}

.add-video-message-modal header .close-button {
	background: transparent;
	border: none;
	transition: 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.add-video-message-modal header .close-button p {
	margin: 0;
}

.add-video-message-modal header .close-button:hover img {
	cursor: pointer;
	opacity: 0.8;
	transition: 0.2s;
}

.add-video-message-modal header .close-button p img {
	width: 10px;
}

.add-video-message-modal header .title {
	display: inline-block;
	text-align: left;
	margin: 0;
	font-weight: 900;
	font-size: 20px;
	line-height: 25px;
}

.add-video-message-modal header .title span {
	font-size: 20px;
	font-weight: 300;
}

.add-video-message-modal .videos {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center; /* Centers within each 1fr */
	align-items: center;
	margin: 10px 0;
}

.add-video-message-modal .videos.add-extra-fr {
	grid-template-columns: 1fr 1fr 1fr;
}

.add-video-message-modal .video-area:first-child {
	margin-right: 50px;
}

.add-video-message-modal .video-area {
	text-align: center;
	line-height: 16px;
}

.add-video-message-modal #last-message-video-area {
	border: 1px solid var(--card-border-color);
	border-radius: var(--card-br);
	padding: 10px;
	margin-right: 30px;
}

.add-video-message-modal #last-message-video-area .video-wrapper {
	text-align: center;
	margin: 0 auto;
}

.add-video-message-modal .video-area p {
	font-weight: 700;
	font-size: 0.9em;
	margin: 0;
	margin-bottom: 10px;
}

.add-video-message-modal .video-area small {
	font-size: 0.6em;
	margin: 0;
	display: block;
	margin-top: 10px;
}

.add-video-message-modal .toolbar {
	margin-top: 40px;
	display: flex;
	align-items: center;
}

.add-video-message-modal .start-record,
.add-video-message-modal .stop-record {
	background-color: var(--primary);
	color: var(--card-color);
	border: 1px solid var(--left-sidebar-font-color);
	padding: 8px 16px;
	transition: 0.2s;
	border-radius: var(--card-br);
}

.add-video-message-modal .start-record:hover, .stop-record:hover {
	background-color: var(--card-color);
	color: var(--primary);
	box-shadow: 0 0 20px var(--card-border-color);
	transition: 0.2s;
	cursor: pointer;
}

.add-video-message-modal .add-video-message-to-module-button,
.add-video-message-modal .copy-embed-code-button {
	transition: 0.2s;
	padding: 8px 16px;
	border-radius: var(--card-br);
	background-color: var(--card-color);
	color: var(--primary);
	border: 1px solid var(--primary);
	margin-left: 10px;
}

.add-video-message-modal .add-video-message-to-module-button:hover,
.add-video-message-modal .copy-embed-code-button:hover {
	transition: 0.2s;
	cursor: pointer;
	background-color: var(--primary);
	color: var(--card-color);
	border: 1px solid var(--left-sidebar-font-color);
	box-shadow: 0 0 20px var(--card-border-color);
}

.add-video-message-modal .add-video-message-to-module-button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.add-video-message-modal .video-wrapper {
	width: 200px;
	height: 180px;
	overflow: hidden;
	background-color: var(--card-border-color);
	/* border-radius: 50%; */
	border-radius: var(--card-br);
	object-fit: cover;
}

.add-video-message-modal video {
	width: 320px;
	height: 180px;
	margin-left: -60px;
	/* border-radius: 50%; */
}

.add-video-message-modal #video-now.animate {
	animation: prepareToRecord 1s linear;
}

@keyframes prepareToRecord {
	0% {
		position: absolute;
		left: 100px;
		bottom: 100px;
	}
	100% {
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.add-video-message-modal .video-wrapper-controls {
	position: relative;
}

.add-video-message-modal .video-wrapper-controls .play-pause-preview-button {
	position: absolute;
	border: 2px solid var(--card-border-color);
	padding: 2px;
	top: 160px;
	right: 190px;
	border-radius: 50%;
	transition: 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-video-message-modal .video-wrapper-controls .play-pause-preview-button:hover {
	cursor: pointer;
	background-color: var(--left-sidebar-font-color);
	transition: 0.2s;
}

.add-video-message-modal .video-wrapper-controls .play-pause-img {
	width: 25px;
	height: 25px;
}

.add-video-message-modal .timer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
}

.add-video-message-modal .timer p {
	margin: 0;
}

.add-video-message-modal .red-recording {
	border-radius: 50%;
	background-color: var(--danger);
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 10px;
	animation: recording 2s infinite;
}

@keyframes recording {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.add-video-message-modal small {
	margin: 0 auto;
	margin-top: 20px;
	font-size: 0.7em;
	color: var(--left-sidebar-font-color);
}

.add-video-message-modal .video-message-flash-message {
	text-align: center;
	font-size: 0.8em;
	margin: 0 auto;
	margin-top: 10px;
	opacity: 0.8;
}

.add-video-message-modal .video-message-flash-message p {
	margin: 0;
	display: inline-block;
	background-color: var(--success);
	padding: 4px 8px;
	border-radius: var(--card-br);
}

@media only screen and (max-width: 800px) {
	.add-video-message-modal #last-message-video-area {
		margin: 0;
	}

	.add-video-message-modal .videos {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center; /* Centers within each 1fr */
		align-items: center;
		margin: 10px 0;
	}
}
