.embeddable-message {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: transparent;
}

.embeddable-message .video-message-player {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	/*
	I could set both the width and height here to be 500px, and I
	know that setting both the width and height to 50%, I won't
	keep the circle's aspect ratio. When I generate the iframe
	embed code, I will just put a default width and height on it,
	then users can tweak as they wish.
	*/
	width: 100%;
	height: 100%;
	z-index: 9999;
	/* background-color: salmon; */
}

.embeddable-message .video-message-container {
	position: relative;
	padding-bottom: 100%;
	/* padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	background: transparent;
	overflow: hidden;
	border-radius: 30px;
	object-fit: cover;
}

.embeddable-message video.video-message {
	position: absolute;
	top: 0;
	/* left: -490px; To use with the media queries */
	left: -40%;
	right: 0;
	bottom: 0;
	width: 180%;
}

.embeddable-message .video-message-play-pause {
	position: absolute;
	padding: 0;
	bottom: 10px;
	left: 10px;
	border-radius: 50%;
	border: none;
	width: 18%;
	height: 18%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.embeddable-message .video-message-play-pause:hover {
	cursor: pointer;
	background-color: var(--left-sidebar-font-color);
	transition: 0.2s;
}

.embeddable-message .video-message-play-pause:focus {
	outline: none;
}

.embeddable-message .play-pause-img {
	display: inline-block;
	width: 50%;
}

.embeddable-message .loading {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.6em;
	text-align: center;
}
