.viewer {
	position: relative;
	background-color: var(--card-color);
	width: 70vw;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 20px;
	padding-bottom: 60px;
}

.viewer p {
	margin: 0;
}

.viewer header {
	padding: 20px 0;
}

.viewer header .module-title {
	margin: 0;
	font-size: 2.3em;
}

.viewer header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.viewer header .author-information {
	text-align: center;
}

.viewer header .author-information p {
	display: block;
	font-size: 0.5em;
	margin: 0;
}

.viewer header .author-information span {
	color: var(--left-sidebar-font-color);
}

.viewer header .author-information img {
	border-radius: 50%;
	width: 60px;
	margin-top: 5px;
}

.viewer .messages {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 20px;
	right: -95px;
}

.viewer .video-message-player-container {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
}

.viewer .video-message-player {
	position: relative;
}

.viewer .video-message-container {
	width: 190px;
	height: 180px;
	overflow: hidden;
	background: transparent;
	border-radius: 50%;
	object-fit: cover;
}

.viewer .video-message {
	width: 320px;
	height: 180px;
	margin-left: -70px;
	border-radius: 50%;
}

.viewer .video-message-play-pause {
	position: absolute;
	bottom: 0;
	left: 20px;
	background-color: var(--card-color);
	color: var(--primary);
	border: 2px solid var(--card-border-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
	padding: 2px;
}

/* Square videos instead of the circle: */

/* .viewer .video-message-container {
	width: 190px;
	height: 180px;
	overflow: hidden;
	background: transparent;
	border-radius: var(--card-br);
	object-fit: cover;
}

.viewer .video-message {
	width: 600px;
	height: 195px;
	margin-top: -8px;
	margin-left: -200px;
	border-radius: 50%;
}

.viewer .video-message-play-pause {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: var(--card-color);
	color: var(--primary);
	border: 2px solid var(--card-border-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
	padding: 2px;
} */

.viewer .video-message-play-pause:hover {
	cursor: pointer;
	background-color: var(--left-sidebar-font-color);
	transition: 0.2s;
}

.viewer .video-message-play-pause .play-pause-img {
	width: 25px;
	height: 25px;
}

.viewer footer {
	position: absolute;
	bottom: 10px;
	font-size: 0.8em;
	/* opacity: 0.8; */
}

.viewer footer:hover img,
.viewer .document-viewer small:hover img {
	opacity: 0.5;
}

.viewer .audio-message-player-container {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.viewer .audio-message-player-container.extra-offset {
	position: fixed;
	bottom: 220px;
	right: 100px;
}

.viewer .audio-message-play-pause {
	background-color: var(--card-color);
	color: var(--primary);
	border: 2px solid var(--card-border-color);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
	padding: 6px;
	margin: 0 auto;
	border-radius: var(--card-br);
}

.viewer .audio-message-play-pause:hover {
	cursor: pointer;
	background-color: var(--left-sidebar-font-color);
	transition: 0.2s;
}

.viewer .audio-message-play-pause .play-pause-img {
	width: 25px;
	height: 25px;
}

.viewer-section .viewer-section-name {
	font-weight: 600;
}

.viewer .document-viewer {
}

.viewer .document-viewer .document-container {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
}

.viewer .document-viewer .document-controls {
	display: flex;
	align-items: center;
	justify-content: center;
}

.viewer .document-viewer .document-controls button {
	background: transparent;
	border: none;
}

.viewer .document-viewer .document-controls button:hover {
	cursor: pointer;
}

.viewer .document-viewer .document-controls button img {
	width: 15px;
	height: 15px;
	transition: 0.2s;
}

.viewer .document-viewer .document-controls button:hover img {
	opacity: 0.6;
	transition: 0.2s;
}

.viewer .document-viewer .document-controls p {
	/* This is solely because the previous/next icons I did really quick
	aren't completely centered, so I had to push the p up a bit */
	margin-bottom: 6px;
	font-size: 0.9em;
	font-weight: 300;
}
