.module-thumbnail {
	/* background-color: #9764f3; */
	color: var(--card-color);
	border-radius: var(--card-br);
	height: 200px;
	width: 100px;
	padding: 15px;
	font-weight: 300;
	background: rgb(22,34,52);
	background: linear-gradient(0deg, rgba(22,34,52,1) 0%, rgba(47,61,79,1) 100%);
	position: relative;
}

.module-thumbnail:hover {
	cursor: pointer;
	background: rgba(22,34,52,1);
}

.module-thumbnail:hover .delete-icon {
	opacity: 0.7;
	transition: 0.5s;
}

.module-thumbnail:not(:last-child) {
	margin-right: 10px;
}

.module-thumbnail button {
	position: absolute;
	bottom: 10px;
	left: 10px;
	border: none;
	background: transparent;
	transition: 0.2s;
}

.module-thumbnail button:hover {
	cursor: pointer;
	transition: 0.2s;
}

.module-thumbnail button:hover .delete-icon {
	opacity: 0.9;
	transition: 0.2s;
}

.module-thumbnail button:hover span {
	background-color: var(--dark-small-hover);
	transition: 0.2s;
}

.module-thumbnail .delete-icon {
	opacity: 0;
	width: 20px;
}

.module-thumbnail button span {
	color: #ffffff;
	background-color: var(--dark-small);
	padding: 2px 5px;
	font-size: 0.9em;
	border-radius: var(--card-br);
}
