.dashboard {
	display: flex;
	background-color: #fff;
	height: 100vh;
}

.dashboard .left-sidebar {
	background-color: var(--bg);
	width: 22%;
	color: var(--left-sidebar-font-color);
	padding: 15px 15px 0 15px;
	border-right: 1px solid var(--border-color-light);
	position: relative;
}

.dashboard .left-sidebar-button-list {
	margin-top: 20px;
}

.dashboard .left-sidebar-button-list button {
	border-radius: var(--card-br);
	border: none;
	background: transparent;
	color: var(--left-sidebar-font-color);
	transition: 0.2s;
	width: 100%;
	text-align: left;
	padding: 16px;
}

.dashboard .left-sidebar-button-list button:hover {
	color: var(--primary);
	transition: 0.2s;
	cursor: pointer;
}

.dashboard .left-sidebar footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding-bottom: 30px;
}

.dashboard .left-sidebar footer img {
	opacity: 0.7;
	width: 60px;
}

.dashboard .left-sidebar footer img:hover {
	opacity: 1;
}

.dashboard main {
	padding: 10px;
	overflow-y: auto;
	width: 100%;
}

.dashboard main .module-thumbnails {
	display: flex;
}

.dashboard main .main-content-module-not-opened h1 {
	margin: 20px 0 0 0;
}

.dashboard main .main-content-module-not-opened small {
	display: block;
	margin-bottom: 20px;
	color: var(--left-sidebar-font-color);
}

.dashboard main .no-modules-message {
	font-size: 0.8em;
}

.dashboard main .flash-message p {
	display: inline-block;
	margin-bottom: 0;
	background-color: var(--success);
	padding: 8px 16px;
	opacity: 0.8;
	border-radius: var(--card-br);
	font-size: 0.8em;
}

/* @TODO: DELETE BELOW */
.dashboard .left-sidebar .left-sidebar-button-list button:disabled {
	cursor: not-allowed;
}
