@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

/* Font used for logo: Kohinoor Bangla */

:root {
	/* General */
	--bg: #f1f5f9;
	--primary: #3b4049;
	--left-sidebar-font-color: #90999c;
	--border-color-light: #e8ebed;
	--success: #40c764;
	--warning: #ffd633;
	--danger: #c71c1c;

	/* Section and Block */
	--card-color: #ffffff;
	--card-br: 5px;
	--card-border-color: #d4d7dc;

	/* Delete buttons */
	--dark-small: #0c1624;
	--dark-small-hover: #435673;
	--orange-small: #f09630;
	--orange-small-hover: #b8670b;
}

html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

button, input {
	font-family: 'Poppins', sans-serif;
}
