.module header.module-unofficial-header {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding-bottom: 15px;
	border-bottom: 0.5px solid var(--border-color-light);
}

.module header .close-module-button {
	background: transparent;
	border-radius: 50%;
	border: 2px solid var(--primary);
	color: var(--primary);
	font-weight: 800;
	transition: 0.2s;
}

.module header .close-module-button:hover {
	cursor: pointer;
	color: var(--left-sidebar-font-color);
	border: 2px solid var(--left-sidebar-font-color);
	transition: 0.2s;
}

.module header .module-name-information {
	margin-left: 20px;
	max-width: 400px;
}

.module header .module-name-information h1 {
	margin: 0 !important;
	padding: 0 !important;
}

.module header .module-name-information span {
	margin: 0;
	padding: 0;
	font-weight: 300;
	display: inline-block;
	margin-bottom: -25px;
}

.module header .module-name-information small {
	color: var(--left-sidebar-font-color);
}

.module header .module-config {
	margin-left: 20px;
}

.module header .module-config button {
	margin-left: 10px;
	border-radius: var(--card-br);
	background: transparent;
	border: 1px solid var(--left-sidebar-font-color);
	padding: 8px 16px;
	transition: 0.2s;
	font-size: 0.6em;
	margin-top: 10px;
}

.module header .module-config button:hover {
	cursor: pointer;
	color: var(--left-sidebar-font-color);
	transition: 0.2s;
}

.module header .module-config button:disabled {
	cursor: not-allowed;
}

.module header .module-config button.should-save {
	background-color: var(--primary);
	color: var(--card-color);
}

.module header .module-config button.should-save:hover {
	color: var(--primary);
	background-color: var(--card-color);
}

.module header .module-config button p {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.module header .module-config button.message-button img {
	width: 10px;
	margin-left: 5px;
}

.module header .module-config button.message-button:hover img {
	opacity: 0.6;
	transition: 0.2s;
}

.module header .module-config .toolbar-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.module header .module-config .toolbar {
	display: flex;
}

.module header .module-config .toolbar-button:disabled {
	/* opacity: 0.8; */
	cursor: not-allowed;
	padding: 6px;
}

.module header .module-config .toolbar-button img {
	width: 15px;
}
